# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

/cmd/trader/trader
/cmd/monitor/monitor
/cmd/arbitrage/arbitrage
/cmd/yunbimonitor/yunbimonitor
/cmd/marketmaker/marketmaker
/cmd/tradebot/tradebot
/cmd/eosforcemonitor/eosforcemonitor
/cmd/eosforcemonitor/accounts.json
